body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url(../imagenes/netflix/Fallout.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-box {
  display: grid;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  justify-items: center;
}

.netflix-logo {
  width: 200px;
  margin-bottom: 20px;
}

.signup-box h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
#pais,

button {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #75272b;
  transform: scale(1.010);
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  color: #b3b3b3;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.signup-box a {
  text-decoration: none;
}

.sasa {
  color: #777272;
}

form input {
  background: #333;
  color: #b3b3b3;
}

#pais {
  background: #333;
  color: #b3b3b3;
}

.mensaje-error {
  display: none;
  position: absolute;
  top: 75%;
  transform: translateX(-50%);
  background-color: #e50914;
  color: white;
  border: 2px solid #b20710;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  animation: slideIn 0.5s forwards;
  width: 30%;
}

.mensaje-error.show {
  display: block;
  opacity: 1;
}

@keyframes slideIn {
  100% {
    transform: translateY(20%);
  }
}

@media (max-width: 500px) {
  .mensaje-error {
    position: absolute;
    width: 70%;
    font-size: 14px;
    top: 90%;
  }

  @keyframes slideIn {
    100% {
      transform: translateY(-20%);
    }
  }

}